/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.container {
  display: block;
  margin: 20px auto;
  width: 400px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #eee;

  a {
    display: block;
    width: 100%;
    text-align: center;
    border-left: 1px solid #fff;
    padding: 10px;
    text-decoration: none;
  }
}

.watchlist_form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  &__input {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.wallet {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.alerts {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 10px;
}
